<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MovieSearchApp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MovieServlet</display-name>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>movies.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/MovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularMoviesServlet</display-name>
    <servlet-name>PopularMoviesServlet</servlet-name>
    <servlet-class>movies.PopularMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularMoviesServlet</servlet-name>
    <url-pattern>/PopularMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PopularTvShowsServlet</display-name>
    <servlet-name>PopularTvShowsServlet</servlet-name>
    <servlet-class>movies.PopularTvShowsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PopularTvShowsServlet</servlet-name>
    <url-pattern>/PopularTvShowsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LatestMovies</display-name>
    <servlet-name>LatestMovies</servlet-name>
    <servlet-class>movies.LatestMovies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LatestMovies</servlet-name>
    <url-pattern>/LatestMovies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDetails</display-name>
    <servlet-name>MovieDetails</servlet-name>
    <servlet-class>movies.MovieDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetails</servlet-name>
    <url-pattern>/MovieDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TvShowDetails</display-name>
    <servlet-name>TvShowDetails</servlet-name>
    <servlet-class>movies.TvShowDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TvShowDetails</servlet-name>
    <url-pattern>/TvShowDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieDisplayServlet</display-name>
    <servlet-name>MovieDisplayServlet</servlet-name>
    <servlet-class>movies.MovieDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDisplayServlet</servlet-name>
    <url-pattern>/MovieDisplayServlet</url-pattern>
  </servlet-mapping>
</web-app>